<h1>Quotes</h1>
<hr>

<ul>
    <div *ngFor='let quote of quoted;let i = index'>
      <p>{{quote.author|titlecase}} "{{quote.quote}}"</p>
      <button type="button" (click)="toggleDetails(i)">View</button>
      <button type="button" (click)="upVote(i)">Upvote</button>
      <button type="button" (click)="downVote">Downvote</button>
        <li >{{quote.name}}</li>
        <app-quotes-details [quotes]='quotes'></app-quotes-details>
    </div>
</ul>
<p *ngIf='quotes.length > 5'>You have too many </p>
